.formContainer{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: grid;
    align-items: center;
    justify-content: center;
}

.centeredForm{
    height: 500px;
    width: 300px;
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
}

