.blueishBackground{
    background-color: #e0eaff;
}

.container{
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    display: block;
    box-sizing: border-box;
}