.appContainer{
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
}

.middle{
    width: 1024px;
    min-width: 1024px;
    max-width: 1024px;
    overflow-x: hidden;
}